@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{

    --color-primary:#FF2E63;
    --color-accent:#08D9D6;
    --color-dark:#252A34;
    --color-light:#EAEAEA;

    /* customize fonts */

    --font-header: 'Poppins';
    --font-p: 'roboto';

}

/* In index.css */
/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Add custom keyframes/animation via @theme */
@theme {
  --animate-marquee: marquee linear infinite;
  @keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }
}








